
<h1 class="label label-lg label-important">Registrate</h1>
<hr>
<div>
	<form method="post" action="/user/create">
		<label >Username:</label>
		<input type="text" class="form-control" name="username" /><hr>
		<label >Email:</label>
		<input type="text" class="form-control" name="email" /><hr>
		<label >Password</label>
		<input type="password" class="form-control" name="password" /><hr>
		<input type="submit" value="Registrarse" class="btn btn-lg btn-success" />
	</form>
</div>
